@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(http://fonts.gstatic.com/s/kanit/v2/kkq0USULIwHHdoKxKBuLog.ttf) format('truetype');
}
